body {
  background-color: #f5f5f7;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  gap: 40px;
}

.epiCard {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 600px;
  text-align: center;
  margin-top: 30px;
  padding: 0 20px;
}

.epiCard img {
  border-radius: 15px;
  height: 180px;
  object-fit: cover;
  padding: 20px;
}

.epiCard h2 {
  border: 2px solid;
  border-radius: 15px;
  padding: 20px;
}

.epiCard p {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #4c4949;
  margin: 0 16px 20px 16px;
  padding: 20px 0;
}
