body {
  background-color: #f6f6f6;
  margin-left: 22rem;
  margin-right: 27rem;
  font-family: Arial, sans-serif;
}
header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}
#search-area,
#episode-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
#show-search-input,
#search-term-input {
  border: none;
  padding: 3px 8px;
  width: 200px;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  background-color: rgb(255, 255, 255);
}
#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.show-card,
.episode-card {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  background: white;
  border-radius: 8px;
  transition: box-shadow 0.2s;
}
.show-card:hover {
  box-shadow: 0 0 8px 2px #568af0;
  cursor: pointer;
}
.show-card img,
.episode-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
h2 {
  margin: 0.5em 0 0.25em 0;
}
#root h1 {
  text-align: center;
}
